<?xml version="1.0"?>
<launch>
    <!-- point_cloud map -->
    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" output="screen">
        <!-- <param name="file_name" value="/home/ubuntu/Downloads/0.15_map_all.pcd" /> -->
        <!-- <param name="file_name" value="/home/ubuntu/Downloads/Tsukuba3D_TC2003CDJM-CUB_LOD3_mesh2pcd.pcd" /> -->
        <param name="file_name" value="/home/ubuntu/Downloads/test_trans.pcd" />
        <param name="frame_id" value="map" />
        <param name="interval" value="5" />
    </node>


    <!-- <node pkg="rviz" type="rviz" name="rviz_map" args="-d $(find nav_manager)/config/map.rviz" /> -->
</launch>
